* {
    box-sizing: border-box; 
}

body {
    font-family: "Helvetica Neue", sans-serif;  
<<<<<<< HEAD
    background: #f7f4e6; 
=======
    background: #fcfbf7; 
>>>>>>> testing
    margin: 0 auto; 
    text-align: center;    
    font-size: 60pt;
    font-weight: 600; 
<<<<<<< HEAD
    color: #f51010; 
=======
    color: #84A793; 
>>>>>>> testing
}

.container {
    display: flex; 
    flex-direction: row; 
<<<<<<< HEAD
}

.waterTimes , .namePlant {
    font-size: 15px; 
    opacity: 0; 
}
.header {
    font-family: 'futura', sans-serif; 
=======
    height: 400px; 
}
.header {
    font-family: 'futura', sans-serif; 
    color: #84A793;
>>>>>>> testing
    font-size: 40pt; 
    letter-spacing: 4pt; 
    text-align: center; 
    padding-top: 300px; 
<<<<<<< HEAD
    margin-bottom: 90px;
}

.add {
    font-size: 30px;
    padding-top: 50px; 
}

=======
    margin-bottom: 50px;
}
.infoHeader {

    font-size: 15px; 
    font-weight: 400; 
    text-decoration: underline; 
    padding-bottom: 10px; 
    letter-spacing: 4px; 
    font-style: italic; 
    opacity: 0; 

    animation-name: infoHeader; 
    animation-duration: 1.5s; 
    animation-fill-mode: forwards; 
    animation-delay: 2s; 
    animation-iteration-count: 1;
}

@keyframes infoHeader{

    from {
        opacity: 0; 
        text-align: center; 
    }
    to {
        opacity: 1;
        text-align: center; 
          
    }
  }

input {
    outline: none; 
    border: none; 
    border-bottom: 2px solid black; 
    background: none; 
    margin-bottom: 50px; 
    font-weight: bold;
    font-size: 15px; 
    border-radius: 2px;
    line-height: 50px;
    height: 60px;
    width: 250px;
    text-align: center;
    cursor: pointer; 
}


.addPlantsTextFieldOff{
    display: none;
} 
>>>>>>> testing
/* Animating the header*/

.header {
    animation-name: headerToTop; 
    animation-duration: 1.5s; 
    animation-fill-mode: forwards; 
    animation-delay: 2s; 
    animation-iteration-count: 1;
}

<<<<<<< HEAD
=======

>>>>>>> testing
@keyframes headerToTop{
    from {
        text-align: center; 
        padding-top: 300px;
    }
    to {
      text-align: center; 
      padding-top: 15px; 
      font-size: 20pt; 
    }
  }

<<<<<<< HEAD
.divPlants { 
    margin: 60px auto; 
    font-size: 15px; 
    color: black; 
    width: 350px; 
    height: 70px; 
    border-bottom: 2px solid black; 
    opacity: 0; 
}
.divPlants hidden{
     display: none;
}


.divPlants p {
    padding-top: 5px; 
}
=======
>>>>>>> testing
/* Animating the input field*/

.divPlants{
    animation-name: addPlantsButton;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; 
    animation-delay: 3s; 
}

@keyframes addPlantsButton {

   from {
        
        opacity: 0;
    }
    to {
<<<<<<< HEAD
         
=======
        
>>>>>>> testing
        opacity: 1;
        
    }
}
<<<<<<< HEAD

/* styling input field*/

.addPlantsTextField {
   
    background-image: url(Pic/search.svg); 
    background-size: 20px 20px; 
    background-position: 360px 8px; 
   background-repeat: no-repeat;
   padding-top: 5px; 
   border: none; 
   background-color: #f7f4e6; 
   outline: none; 
   width: 300px;
   height: 30px; 
   font-size: 15px; 
   padding-left: 40px; 
  
}

.formArea {
    margin: 0 auto; 
    font-size: 15px; 
    color: black; 
    width: 350px; 
    height: 70px; 
    border-bottom: 2px solid black; 
    opacity: 0;
    
}
.waterAmount2{
      
    background-image: url(Pic/search.svg); 
    background-size: 20px 20px; 
    background-position: 360px 8px; 
   background-repeat: no-repeat;
   padding-top: 5px; 
   border: none; 
   background-color: #f7f4e6; 
   outline: none; 
   width: 300px;
   height: 30px; 
   font-size: 15px; 
   padding-left: 40px; 
}
.divPlants p {
    padding-top: 5px; 
    
}
/* Animating the input field*/

.formArea , .namePlant , .waterTimes{
=======
/* Animating the input field*/

.wrapperCircleOne , .wrapperCircleTwo, .wrapperCircleThree{
>>>>>>> testing
    animation-name: addPlantsButton;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; 
    animation-delay: 3s; 
}

<<<<<<< HEAD
@keyframes formArea{
=======
@keyframes  wrapperCircleOne{
>>>>>>> testing

   from {
        
        opacity: 0;
    }
    to {
         
        opacity: 1;
        
    }
}

<<<<<<< HEAD
@keyframes namePlant {
=======
@keyframes wrapperCircleTwo{
>>>>>>> testing

    from {
         
         opacity: 0;
     }
     to {
          
         opacity: 1;
         
     }
 }

<<<<<<< HEAD
 @keyframes waterTimes {
=======
 @keyframes  wrapperCircleThree {
>>>>>>> testing

    from {
         
         opacity: 0;
     }
     to {
          
         opacity: 1;
         
     }
 }
.wrapper {
    display: flex; 
<<<<<<< HEAD
    flex-direction: column; 
    margin: 0 auto; 
    width: 400px;  
}

.wrapper hidden {
    
    display: none; 
}

.hidden {
    
    display: none; 
}

/* Add new plant button to appear from no display*/

.addNewNoDisplay img {
    width: 35px;      
}
.addNewNoDisplay{
    display: none; 
}

.addNew{
    width: 35px; 
    margin: 0 auto; 

}
.addNew img{
    width: 35px; 
    margin: 0 auto; 
}

.wrapperPlant{
    display: flex; 
    flex-direction: column; 
    margin: 0 auto; 
    width: 350px; 
    height: 300px; 
    border: 2px solid black; 
    border-radius: 20px; 
}

.wrapperPlantNoDisplay { 
    display: none; 
}

.wrapperPlantPos2 {
    display: flex; 
    flex-direction: column; 
    margin: 50px auto; 
    width: 350px; 
    height: 300px; 
    border: 2px solid black; 
    border-radius: 20px; 
}

.headerPlant {
    margin: 50px auto; 
    align-items: center; 
    font-family: 'futura', sans-serif; 
    font-size: 15pt; 
    letter-spacing: 4pt; 
    text-align: center; 
}

.headerPlantNoDisplay{
    display: none; 
}

.infoPlant {
    margin: 50px auto; 
    align-items: center; 
    font-family: 'futura', sans-serif; 
    font-size: 10pt; 
    letter-spacing: 1pt; 
    text-align: center; 
}
.infoPlantNoDisplay {
=======
    flex-direction: row; 
    justify-content: center; 
    margin: 0 auto;  
}

.wrapperCircleOne {
    color: #fff;
    position: relative; 
    margin: 0 75px 0 75px; 
    width: 200px; 
    height: 200px;
    opacity: 0;         
}

.wrapperCircleTwo {
    color: #9DCCCF;
    position: relative; 
    margin: 0 75px 0 75px; 
    width: 200px; 
    height: 300px;
    opacity: 0;
}
.wrapperCircleThree{
    color:#F2D697;
    position: relative; 
    margin: 0 75px 0 75px; 
    width: 200px; 
    height: 200px; 
    opacity: 0; 
}

.numberOne {
    margin: 0 auto; 
    font-size: 15px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid rgb(19, 7, 7);
    border-color:#DE8180; 
    border-radius: 50%; 
    background-color: #DE8180;
}
.numberOne p {
    margin: 2px auto; 
}
.numberTwo {
    color: #fff; 
    margin: 0 auto; 
    font-size: 15px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black;
    border-color:  #9DCCCF;
    border-radius: 50%; 
    background-color: #9DCCCF;
}
.numberTwo p {
    margin: 2px auto; 
}
.numberThree {
    margin:  0 auto;
    font-size: 10px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black; 
    border-color: #F2D697; 
    border-radius: 50%;
    background-color: #F2D697;
   
}
.startWateringOne{
    color: #DE8180;
    font-size: 25px; 
    text-decoration: underline; 
    letter-spacing: 1.5px;  
}
.startWateringOne:hover{
   cursor: pointer; 
}
.startWateringTwo{
    font-size: 25px; 
    text-decoration: underline;
    letter-spacing: 1.5px; 
}
.startWateringTwo:hover{
    cursor: pointer; 
 }

.startWateringThree{
    font-size: 25px; 
    text-decoration: underline;
    letter-spacing: 1.5px; 
}
.startWateringThree:hover{
    cursor: pointer; 
 }
.startWateringOneOff {
    display: none; 
}

.startWateringTwoOff {
    display: none; 
}

.startWateringThreeOff {
    display: none; 
}

.titleOne {
    color:#DE8180;
     font-size: 25px; 
     margin: 50px auto; 
}

.titleTwo { 
    font-size: 25px; 
    margin: 50px auto; 
}

.titleThree {
    font-size: 25px; 
    margin: 50px auto;  
}

.timeToWater {
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    border-color: #DE8180;
    border-radius: 50%; 
}

.timeToWaterTwo{ 
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    border-color: #9DCCCF;
    border-radius: 50%;
}
.timeToWaterThree {
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    border-color: #F2D697;
    border-radius: 50%;
}
.timeToWaterNone {
    display: none; 
}
.timeToWaterTwoNone{
    display: none; 
}
.timeToWaterThreeNone{
    display: none; 
}

.waterTimeTwo{
    font-size: 20px; 
    text-decoration: underline; 
}

.oneTime {
    margin: 0 auto; 
    font-size: 80px; 
}

.twoTimes {
    color: #fff;
    margin: 0 auto; 
    font-size: 80px; 
}

.everyOther {
    color: #fff; 
    margin: 40px auto; 
    font-size: 27px;
}

.form1 {
    display: none; 
    color: #DE8180; 
}

.timeToWaterTextThreeClass{
    font-size: 20px; 
    text-decoration: underline; 
}


.timeToWaterTextThree:hover{
    cursor: pointer; 
}

.timeToWaterTextThreeNone{
>>>>>>> testing
    display: none; 
}
