* {
    box-sizing: border-box; 
}

body {
    font-family: "Helvetica Neue", sans-serif;  
    background: #fcfbf7; 
    margin: 0 auto; 
    text-align: center;    
    font-size: 60pt;
    font-weight: 600; 
    color: #84A793; 
}

.container {
    display: flex; 
    flex-direction: row; 
    height: 400px; 
}
.header {
    font-family: 'futura', sans-serif; 
    color: #84A793;
    font-size: 40pt; 
    letter-spacing: 4pt; 
    text-align: center; 
    padding-top: 300px; 
    margin-bottom: 50px;
}
.infoHeader {

    font-size: 15px; 
    font-weight: 400; 
    text-decoration: underline; 
    padding-bottom: 10px; 
    letter-spacing: 4px; 
    font-style: italic; 
    opacity: 0; 

    animation-name: infoHeader; 
    animation-duration: 1.5s; 
    animation-fill-mode: forwards; 
    animation-delay: 2s; 
    animation-iteration-count: 1;
}

@keyframes infoHeader{

    from {
        opacity: 0; 
        text-align: center; 
    }
    to {
        opacity: 1;
        text-align: center; 
          
    }
  }

input {
    outline: none; 
    border: none; 
    border-bottom: 2px solid black; 
    background: none; 
    margin-bottom: 50px; 
    font-weight: bold;
    font-size: 15px; 
    border-radius: 2px;
    line-height: 50px;
    height: 60px;
    width: 250px;
    text-align: center;
    cursor: pointer; 
}


.addPlantsTextFieldOff{
    display: none;
} 
/* Animating the header*/

.header {
    animation-name: headerToTop; 
    animation-duration: 1.5s; 
    animation-fill-mode: forwards; 
    animation-delay: 2s; 
    animation-iteration-count: 1;
}


@keyframes headerToTop{
    from {
        text-align: center; 
        padding-top: 300px;
    }
    to {
      text-align: center; 
      padding-top: 15px; 
      font-size: 20pt; 
    }
  }

/* Animating the input field*/

.divPlants{
    animation-name: addPlantsButton;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; 
    animation-delay: 3s; 
}

@keyframes addPlantsButton {

   from {
        
        opacity: 0;
    }
    to {
        
        opacity: 1;
        
    }
}
/* Animating the input field*/

.wrapperCircleOne , .wrapperCircleTwo, .wrapperCircleThree{
    animation-name: addPlantsButton;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; 
    animation-delay: 3s; 
}

@keyframes  wrapperCircleOne{

   from {
        
        opacity: 0;
    }
    to {
         
        opacity: 1;
        
    }
}

@keyframes wrapperCircleTwo{

    from {
         
         opacity: 0;
     }
     to {
          
         opacity: 1;
         
     }
 }

 @keyframes  wrapperCircleThree {

    from {
         
         opacity: 0;
     }
     to {
          
         opacity: 1;
         
     }
 }
.wrapper {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin: 0 auto;  
}

.wrapperCircleOne {
    color: #fff;
    position: relative; 
    margin: 0 75px 0 75px; 
    width: 200px; 
    height: 200px;
    opacity: 0;         
}

.wrapperCircleTwo {
    color: #9DCCCF;
    position: relative; 
    margin: 0 75px 0 75px; 
    width: 200px; 
    height: 300px;
    opacity: 0;
}
.wrapperCircleThree{
    color:#F2D697;
    position: relative; 
    margin: 0 75px 0 75px; 
    width: 200px; 
    height: 200px; 
    opacity: 0; 
}

.numberOne {
    margin: 0 auto; 
    font-size: 15px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid rgb(19, 7, 7);
    border-color:#DE8180; 
    border-radius: 50%; 
    background-color: #DE8180;
}
.numberOne p {
    margin: 2px auto; 
}
.numberTwo {
    color: #fff; 
    margin: 0 auto; 
    font-size: 15px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black;
    border-color:  #9DCCCF;
    border-radius: 50%; 
    background-color: #9DCCCF;
}
.numberTwo p {
    margin: 2px auto; 
}
.numberThree {
    margin:  0 auto;
    font-size: 10px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black; 
    border-color: #F2D697; 
    border-radius: 50%;
    background-color: #F2D697;
   
}
.startWateringOne{
    color: #DE8180;
    font-size: 25px; 
    text-decoration: underline; 
    letter-spacing: 1.5px;  
}
.startWateringOne:hover{
   cursor: pointer; 
}
.startWateringTwo{
    font-size: 25px; 
    text-decoration: underline;
    letter-spacing: 1.5px; 
}
.startWateringTwo:hover{
    cursor: pointer; 
 }

.startWateringThree{
    font-size: 25px; 
    text-decoration: underline;
    letter-spacing: 1.5px; 
}
.startWateringThree:hover{
    cursor: pointer; 
 }
.startWateringOneOff {
    display: none; 
}

.startWateringTwoOff {
    display: none; 
}

.startWateringThreeOff {
    display: none; 
}

.titleOne {
    color:#DE8180;
     font-size: 25px; 
     margin: 50px auto; 
}

.titleTwo { 
    font-size: 25px; 
    margin: 50px auto; 
}

.titleThree {
    font-size: 25px; 
    margin: 50px auto;  
}

.timeToWater {
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    border-color: #DE8180;
    border-radius: 50%; 
}

.timeToWaterTwo{ 
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    border-color: #9DCCCF;
    border-radius: 50%;
}
.timeToWaterThree {
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    border-color: #F2D697;
    border-radius: 50%;
}
.timeToWaterNone {
    display: none; 
}
.timeToWaterTwoNone{
    display: none; 
}
.timeToWaterThreeNone{
    display: none; 
}

.waterTimeTwo{
    font-size: 20px; 
    text-decoration: underline; 
}

.oneTime {
    margin: 0 auto; 
    font-size: 80px; 
}

.twoTimes {
    color: #fff;
    margin: 0 auto; 
    font-size: 80px; 
}

.everyOther {
    color: #fff; 
    margin: 40px auto; 
    font-size: 27px;
}

.form1 {
    display: none; 
    color: #DE8180; 
}

.timeToWaterTextThreeClass{
    font-size: 20px; 
    text-decoration: underline; 
}

.timeToWaterTextThree:hover{
    cursor: pointer; 
}

.timeToWaterTextThreeNone{
    display: none; 
}

timeToWaterTextOneClass{
    font-size: 20px; 
    text-decoration: underline;
}
.timeToWaterTextOneNone{
    display: none; 
}

timeToWaterTextTwoClass{
    font-size: 20px; 
    text-decoration: underline;
}
.timeToWaterTextTwoNone{
    display: none; 
}



