* {
    box-sizing: border-box; 
}

body {
    font-family: "Helvetica Neue", sans-serif;  
    background: #f7f4e6; 
    margin: 0 auto; 
    text-align: center;    
    font-size: 60pt;
    font-weight: 600; 
    color: #f51010; 
}

.container {
    display: flex; 
    flex-direction: row; 
}
.header {
    font-family: 'futura', sans-serif; 
    font-size: 40pt; 
    letter-spacing: 4pt; 
    text-align: center; 
    padding-top: 300px; 
    margin-bottom: 90px;
}

.add {
    font-size: 30px;
    padding-top: 50px; 
}

/* Animating the header*/

.header {
    animation-name: headerToTop; 
    animation-duration: 1.5s; 
    animation-fill-mode: forwards; 
    animation-delay: 2s; 
    animation-iteration-count: 1;
}

@keyframes headerToTop{
    from {
        text-align: center; 
        padding-top: 300px;
    }
    to {
      text-align: center; 
      padding-top: 15px; 
      font-size: 20pt; 
    }
  }

.divPlants { 
    margin: 60px auto; 
    font-size: 15px; 
    color: black; 
    width: 100px; 
    height: 70px; 
    border-bottom: 2px solid black; 
    opacity: 0; 
}
.divPlants hidden{
     display: none;
}


.divPlants p {
    padding-top: 5px; 
}
/* Animating the input field*/

.divPlants{
    animation-name: addPlantsButton;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; 
    animation-delay: 3s; 
}

@keyframes addPlantsButton {

   from {
        
        opacity: 0;
    }
    to {
         
        opacity: 1;
        
    }
}
/* Animating the input field*/

.wrapperCircleOne , .wrapperCircleTwo, .wrapperCircleThree{
    animation-name: addPlantsButton;
    animation-fill-mode: forwards;
    animation-duration: 1.5s; 
    animation-delay: 3s; 
}

@keyframes  wrapperCircleOne{

   from {
        
        opacity: 0;
    }
    to {
         
        opacity: 1;
        
    }
}

@keyframes wrapperCircleTwo{

    from {
         
         opacity: 0;
     }
     to {
          
         opacity: 1;
         
     }
 }

 @keyframes  wrapperCircleThree {

    from {
         
         opacity: 0;
     }
     to {
          
         opacity: 1;
         
     }
 }
.wrapper {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin: 0 auto;  
}

.wrapperCircleOne {
    position: relative; 
    margin: 0 50px 0 50px; 
    width: 200px; 
    height: 400px;
    opacity: 0; 
}

.wrapperCircleTwo {
    position: relative; 
    margin: 0 50px 0 50px; 
    width: 200px; 
    height: 400px;
    opacity: 0;
}
.wrapperCircleThree{
    position: relative; 
    margin: 0 50px 0 50px; 
    width: 200px; 
    height: 400px; 
    opacity: 0; 
}

.numberOne {
    margin: 0 auto; 
    font-size: 10px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black; 
    border-radius: 50%; 
}
.numberTwo {
    margin: 0 auto; 
    font-size: 10px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black; 
    border-radius: 50%; 
}
.numberThree {
    margin:  0 auto;
    font-size: 10px; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black; 
    border-radius: 50%;
   
}
.startWateringOne{
    font-size: 15px; 
    text-decoration: underline; 
    letter-spacing: 1.5px;  
}

.startWateringTwo{
    font-size: 15px; 
    text-decoration: underline;
    letter-spacing: 1.5px; 
}

.startWateringThree{
    font-size: 15px; 
    text-decoration: underline;
    letter-spacing: 1.5px; 
}
.startWateringOneOff {
    display: none; 
}

.startWateringTwoOff {
    display: none; 
}

.startWateringThreeOff {
    display: none; 
}

.titleOne {
     font-size: 15px; 
}

.titleTwo {
    font-size: 15px; 
}

.titleThree {
    font-size: 15px; 
}

.timeToWater , .timeToWaterTwo , .timeToWaterThree {
    position: absolute; 
    margin: -160px 16px; 
    width: 170px; 
    height: 170px; 
    border: 3px solid black; 
    color: darkcyan;
    border-radius: 50%; 
}

.timeToWaterNone {
    display: none; 
}
.timeToWaterTwoNone{
    display: none; 
}
.timeToWaterThreeNone{
    display: none; 
}

.waterTimeTwo{
    font-size: 20px; 
    text-decoration: underline; 
}

.oneTime {
    margin: 0 auto; 
    font-size: 80px; 
}

.twoTimes {
    margin: 0 auto; 
    font-size: 80px; 
}

.everyOther {
    margin: 10px auto; 
    font-size: 30px;
}